@import "../scss/reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// <Переменные> ============================================================================================================================================
$fontColor: #137e6d;
// </Переменные> ============================================================================================================================================

// <Утилиты> ============================================================================================================================================
.none {
    display: none !important;
}
.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -100000px;
    background: transparent;
    font-size: 0;
}
.no-scroll {
    overflow: hidden;
}
// </Утилиты> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================
.mb1r {
    margin-bottom: 1rem;
}
.mb50 {
    margin-bottom: 50px;
}
// </Повторяшки> ============================================================================================================================================

// <Сетка> ============================================================================================================================================
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.container {
    width: 1300px;
    // padding: 0 15px;
    margin: 0 auto;
}
// </Сетка> ============================================================================================================================================

// <Импорт> ============================================================================================================================================

@import "../scss/nav";
@import "../scss/header";
@import "../scss/services";
@import "../scss/about";
@import "../scss/footer";
@import "../scss/road";

@import "../scss/adaptive";
